* {
  box-sizing: border-box;
}

html,
body {
  /* max-width: 100vw;
  overflow-x: hidden; */
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

/* variables */
:root {
  --gray-bg: brown;
  --primary: #26A69A;
  --gray-10: #F6F8F9;
  --gray-20: #ECEFF1;
  --gray-30: #B0BEC5;
  --gray-40: #78909C;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.content-card .p-card-content {
  padding: 0;
}